.ventanaemergente{
    display:none;    // es importante ocultar las ventanas previamente 
	font-family:Arial, Helvetica, sans-serif;
	color: #606060;
       
	line-height:28px;
	font-size:15px;
	text-align:justify;

}
.principal{
    float:none; clear:both;
   background: gainsboro;
    height: 740px;
  position: absolute;
    width: 100%;
    top: 20%;
    
}
.menu{
    background: #172322;
    color: #999;
    border-radius: 13px 13px 13px 13px;
     border: 1px 
    solid #666666; 
    padding: 0;
    position: absolute;
    top: 20px;
    height: 46px;
    left: 2%;
    width: 96%;
}
.modulos{
    position: absolute;
    float:none; clear:both;
    height: 640px;
    background: #ffffff;
     margin: 0px;
    width: 94%;
    left: 2%;
    top: 5%;
}